# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env
*.key

# Logs
logs/
*.log

# Raw data
data/raw/

# Processed data
data/processed/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db